/* EventForm.css: New clean and modern look */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.event-form {
  max-width: 100%;
  width: 90%; /* Better for mobile responsiveness */
  margin: auto;
  padding: 20px;
  background: #FFF8DC; /* A soft gold background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000; /* Black for readability */
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 2px solid #FFC627; /* Gold border for inputs */
  border-radius: 4px;
  font-size: 1rem;
}
.form-group button {
  width: 100%;
  padding: 10px;
  margin-top: 5px; /* Adds a small space below the label */
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounds the corners of the input field and button */
}

.submit-btn {
  background-color: #000000; /* Black for primary button color */
  color: #FFC627; /* Gold color for text to ensure readability */
  border: 1px solid #FFC627; /* Gold border */
}

.submit-btn:hover {
  background-color: #FFC627; /* Gold for hover */
  color: #000000; /* Black text on hover */
  border: 1px solid #000000;
}

