.user-box {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 20%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  .user-box p {
    margin: 0; /* Remove default margin */
  }
  
  .sign-out-container {
    max-width: 100px; /* Limit the width of the sign-out link */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .user-box a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }
  
  .user-box a:hover {
    text-decoration: underline;
  }
  